<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 widget-footer col-sm-4">
                <h5>About Store</h5>
                <img src="assets/images/ajkershopping-logo.png" class="img-responsive space10" alt=""/>
                <p>{{settingsService?.footerAbout}}</p>
                <div class="clearfix"></div>
                <ul class="f-social">
                    <li><a href="https://www.facebook.com" class="fa fa-facebook"></a></li>
                    <li><a href="https://www.twitter.com" class="fa fa-twitter"></a></li>
                    <li><a href="https://feedburner.google.com" class="fa fa-rss"></a></li>
                    <li><a href="mailto:email@website.com" class="fa fa-envelope"></a></li>
                    <li><a href="https://www.pinterest.com" class="fa fa-pinterest"></a></li>
                    <li><a href="https://www.instagram.com" class="fa fa-instagram"></a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-4 widget-footer">
                <h5>Contact Us</h5>
                <div class="media-list">
                    <div class="media">
                        <i class="pull-left fa fa-home"></i>
                        <div class="media-body">
                            <strong>Bangladesh Office Address:</strong><br>
                            {{settingsService?.bdOffice}}<br>
                            <strong>China Office Address:</strong><br>
                            {{settingsService?.chinaOffice}}
                        </div>
                    </div>
                    <div class="media">
                        <i class="pull-left fa fa-phone"></i>
                        <div class="media-body">
                            <strong>Telephone:</strong><br>
                            {{settingsService?.phone}}
                        </div>
                    </div>
                    <div class="media">
                        <i class="pull-left fa fa-envelope-o"></i>
                        <div class="media-body">
                            <strong>Email:</strong><br>
                            {{settingsService?.email}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 widget-footer">
                <iframe
                    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FBDAjkerShopping%2F&tabs&width=340&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=126616390779908"
                    width="340" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowTransparency="true"></iframe>
            </div>
        </div>
    </div>
</footer>

<!-- FOOTER COPYRIGHT -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-7">

                <p>
                    Copyright 2018 @ All rights reserved - <a href="http://ajkershopping.com/">Ajker Shopping</a>.
                    Designed & Developed by <a href="http://salessystembd.com/">Sale System BD</a>.<br> Supported by <a
                        href="http://zettatech.io/">Zettabyte Technologies</a>.
                </p>
            </div>
            <div class="col-md-5 col-sm-5">
                <img src="assets/images/basic/payment.png" class="pull-right img-responsive payment" alt=""/>
            </div>
        </div>
    </div>
</div>


