<!-- BREADCRUMBS -->
<div class="bcrumbs">
    <div class="container">
        <ul>
            <li>Create Division</li>
        </ul>
    </div>
</div>

<!-- MY ACCOUNT -->
<div class="account-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 checkout-steps">
                <h6>Create Division</h6>
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-md-9 col-sm-8">
                <div id="account-id">
                    <h4 class="account-title"><span class="fa fa-chevron-right"></span>Create New Division</h4>
                    <div class="account-form">
                        <form [formGroup]="formGroup" (submit)="submit()">
                            <ul class="form-list row">
                                <li class="col-md-6 col-sm-6">
                                    <label>Name <em>*</em></label>
                                    <input name="name" class="input-md form-control" placeholder="Name"
                                           [formControl]="formGroup.controls['name']" type="text">
                                </li>
                            </ul>
                            <div class="buttons-set">
                                <button class="btn-black" type="submit"><span><span>Submit</span></span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix space20"></div>
