<!-- BREADCRUMBS -->
<div class="bcrumbs">
    <div class="container">
        <ul>
            <li><a routerLink="">Home</a></li>
            <li>Reset Password</li>
        </ul>
    </div>
</div>

<div class="space10"></div>

<!-- BLOG CONTENT -->
<div class="blog-content">
    <div class="container">

        <div class="row">
            <!-- Sidebar -->
            <aside class="col-sm-3"></aside>
            <aside class="col-sm-6">
                <h5 class="heading space40"><span>Reset Password</span></h5>
                <form [formGroup]="formGroup">
                    <div class="row">
                        <div class="col-md-12 space20">
                            <label>Email<span class="text-danger">*</span></label>
                            <input name="email" class="input-md form-control" placeholder="Email"
                                   formControlName="email" type="email" autocomplete="off">
                            <span *ngIf="validationError['email']">{{validationError['email']}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 space20">
                            <label>New Password<span class="text-danger">*</span></label>
                            <input name="newPassword" class="input-md form-control" placeholder="New Password"
                                   formControlName="newPassword" type="password" autocomplete="off">
                            <span *ngIf="validationError['newPassword']">{{validationError['newPassword']}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 space20">
                            <label>Confirm New Password<span class="text-danger">*</span></label>
                            <input name="confirmNewPassword" class="input-md form-control"
                                   placeholder="Confirm New Password"
                                   formControlName="confirmNewPassword" type="password" autocomplete="off">
                            <span *ngIf="validationError['confirmNewPassword']">{{validationError['confirmNewPassword']}}</span>
                        </div>
                    </div>
                    <button type="button" class="btn btn-black" (click)="submit()">
                        Submit
                    </button>
                </form>

            </aside>
            <aside class="col-sm-3"></aside>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="clearfix space20"></div>
