<!-- BREADCRUMBS -->
<div class="bcrumbs">
    <div class="container">
        <ul>
            <li>All Users</li>
        </ul>
    </div>
</div>


<!-- MY ACCOUNT -->
<div class="account-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 checkout-steps">
                <h6>All Users</h6>
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-md-9 col-sm-8">
                <div id="account-id">
                    <h4 class="account-title"><span class="fa fa-chevron-right"></span>All Users</h4>
                    <div class="order-history">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Group</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                        <tr *ngFor="let user of users">
                                            <td>{{user?.name}}</td>
                                            <td>{{user?.email}}</td>
                                            <td>{{user?.phone}}</td>
                                            <td>{{user?.scope}}</td>
                                            <td>{{user?.status == 1 ? 'Active' : 'De-activated'}}</td>
                                            <td>
                                                <a [routerLink]="'/user/edit/' + user?._id" class="btn-black">Edit</a>
                                                <button class="btn-black" (click)="deactivateUser(user?._id)"
                                                        *ngIf="user?.status == 1">Deactivate
                                                </button>
                                                <button class="btn-black" (click)="activateUser(user?._id)" *ngIf="user?.status == 0">
                                                    Activate
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <pagination [totalItems]="totalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize"
                                            class="pagination-sm" (pageChanged)="pageChanged($event)"
                                            [itemsPerPage]="itemsPerPage" [boundaryLinks]="true"
                                            [rotate]="false"></pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix space20"></div>
