<!-- BREADCRUMBS -->
<div class="bcrumbs">
    <div class="container">
        <ul>
            <li>All Sliders</li>
        </ul>
    </div>
</div>


<!-- MY ACCOUNT -->
<div class="account-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 checkout-steps">
                <h6>All Sliders</h6>
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-md-9 col-sm-8">
                <div id="account-id">
                    <h4 class="account-title"><span class="fa fa-chevron-right"></span>All Sliders</h4>
                    <div class="order-history">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th>Image</th>
                                            <th>Action</th>
                                        </tr>
                                        <tr *ngFor="let slider of sliders">
                                            <td><img [src]="imageUrl + slider?.photo_url" style="max-height: 200px;max-width: 200px">
                                            </td>
                                            <td>
                                                <!--<a [routerLink]="'/sliders/edit/'+ slider._id" class="btn-black">Edit</a>-->
                                                <button class="btn-black" (click)="deleteSlider(slider?._id)">Delete</button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix space20"></div>

