<!-- BREADCRUMBS -->
<div class="bcrumbs">
    <div class="container">
        <ul>
            <li>Dashboard</li>
        </ul>
    </div>
</div>


<!-- MY ACCOUNT -->
<div class="account-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 checkout-steps">
                <h6>Product</h6>
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-md-9 col-sm-8">
                <div id="account-id">
                    <h4 class="account-title"><span class="fa fa-chevron-right"></span>Create Product</h4>
                    <div class="account-form">
                        <form [formGroup]="createProduct" (submit)="productSubmit()" enctype="multipart/form-data">
                            <div class="form-list row">
                                <div class="col-md-6 col-sm-6">
                                    <label>Name <em>*</em></label>
                                    <input name="name" class="input-md form-control" placeholder="Name"
                                           formControlName="name" type="text">
                                    <span
                                        *ngIf="createProduct?.controls['name']?.hasError('required') && createProduct?.controls['name']?.touched">Name is required.</span>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <label>Price <em>*</em></label>
                                    <input name="price" class="input-md form-control" placeholder="price"
                                           formControlName="price" type="number" step="0.01" min="0">
                                    <span *ngIf="createProduct?.controls['price']?.hasError('required') && createProduct?.controls['price']?.touched">Price is required.</span>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-6 col-sm-6">
                                    <label>Discount (%)</label>
                                    <input name="discount" class="input-md form-control" placeholder="Discount"
                                           formControlName="discount" type="number" step="0.01" min="0">
                                </div>
                                <!--<div class="col-md-6 col-sm-6">-->
                                <!--<label >Shipping Price</label>-->
                                <!--<input name="shippingPrice" class="input-md form-control" placeholder="Shipping Price" formControlName="shippingPrice" type="number" step="0.01" min="0">-->
                                <!--</div>-->
                                <div class="clearfix"></div>
                                <div class="col-md-6 col-sm-6">
                                    <label>Category <em>*</em></label>
                                    <select name="category" class="input-md form-control" placeholder="category"
                                            formControlName="category"
                                            (change)="getSubCategoryByCategory($event.target.value)">
                                        <option *ngFor="let category of categories" [value]="category._id">
                                            {{category.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <label>Sub Category <em>*</em></label>
                                    <select name="sub_category" class="input-md form-control"
                                            formControlName="sub_category">
                                        <option *ngFor="let subCategory of showSubCategories" [value]="subCategory?._id">
                                            {{subCategory?.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <label>Product Status<em>*</em></label>
                                    <select name="status" class="input-md form-control"
                                            formControlName="status" required>
                                        <option value="1">Active</option>
                                        <option value="0">Disable</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-6 col-sm-6">
                                    <label>Feature Product <em>*</em></label>
                                    <select name="feature" class="input-md form-control"
                                            formControlName="feature" required>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <label>New Product <em>*</em></label>
                                    <select name="new" class="input-md form-control"
                                            formControlName="new" required>
                                        <option value="1">Yes</option>
                                        <option value="0">No</option>
                                    </select>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-6 col-sm-6">
                                    <label>Images <em>*</em></label>
                                    <input name="product_image" class="input-md form-control" placeholder="Image"
                                           (change)="imageUpLoad($event)" type="file" multiple>
                                    <span>Please upload <b>400px X 500px</b> images only.</span>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-success" (click)="createProComponent()">Add
                                        Component
                                    </button>

                                </div>
                                <ng-container *ngFor="let div of showDiv; let count = index;">
                                    <div class="col-md-6 col-sm-6">
                                        <label>Component Name <em>*</em></label>
                                        <input class="input-md form-control" placeholder="Name"
                                               [formControl]="createProduct?.controls['com_name_'+(count+1)]"
                                               type="text">
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <label>Component Value <em>*</em></label>
                                        <input class="input-md form-control" placeholder="attributes"
                                               [formControl]="createProduct?.controls['com_value_'+(count+1)]"
                                               type="text">
                                        <span>Use commma(,) for separate values. Ex: S,M,L,XL,XXL </span>
                                    </div>
                                </ng-container>
                                <div class="col-md-12 col-sm-12">
                                    <label>Details <em>*</em></label>
                                    <textarea name="detail" class="form-control" placeholder="Product Detail"
                                              formControlName="detail"></textarea>
                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <label>Description <em>*</em></label>
                                    <div [froalaEditor] [formControl]="createProduct?.controls['description']"></div>
                                </div>

                            </div>
                            <div class="buttons-set">
                                <button type="submit" class="btn btn-black" [disabled]="!createProduct?.valid">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix space20"></div>
