<!-- BREADCRUMBS -->
<div class="bcrumbs">
    <div class="container">
        <ul>
            <li>All Districts</li>
        </ul>
    </div>
</div>


<!-- MY ACCOUNT -->
<div class="account-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 checkout-steps">
                <h6>All Districts</h6>
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-md-9 col-sm-8">
                <div id="account-id">
                    <h4 class="account-title"><span class="fa fa-chevron-right"></span>All Districts</h4>
                    <div class="order-history">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <tr>
                                            <th>District Name</th>
                                            <th>Name</th>
                                            <th>Action</th>
                                        </tr>
                                        <tr *ngFor="let district of districts">
                                            <td>{{district?.division_id?.name}}
                                            </td>
                                            <td>{{district?.name}}</td>
                                            <td>
                                                <a [routerLink]="'/districts/edit/' + district?._id" class="btn-black">Edit</a>
                                                <a (click)="deleteSubCategory(district)" style="cursor: pointer;" class="btn-black">Delete</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix space20"></div>
